body {
	background-color: #71b847;
	font-size: 30px;
	color: #822828;
	text-align: left;
}

h1 {
	color: rgb(93, 93, 47);
	text-align:center;
	font-size:60px;
	border: 5px dotted rgb(27, 20, 20);
}

p {
	color: #2a2d47
}

#filoetec1 {
	padding: 20px;
	margin-left: 375px;
	width:30%;
	border: 5px groove rgb(92, 45, 45);
}

.principal{
	background: #b78a43;
	padding: 30px;
}

.titulo-principal {
	padding-left: 20px;
}

.titulo-centralizado {
	text-align: left;
}

p {
	text-align: left;
}

#missao {
	font-size: 20px
}

em strong {
	color: #0e0b0b;
}

.itens {
	font-style: italic
}

.conteudo {
	background: #191712;
	padding: 20px;
}

ul {
	display: inline-block;
	vertical-align: top;
	width: 20%;
	margin-right: 15%;
}

.imagemfiloetec {
	width: 50%;
}